html {
	font-size:  15px;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	}

header.container-fluid{
	padding-right: 1040px;
	padding-left: 10px;
	margin-left: 0px;}

header.top{
	top: 0;
	bottom: unset;
	left: 0;}

header{
	position: fixed;
	height: 2.8rem;
	font-size: 2rem;
	line-height: 1.6;
	color: rgb(255,255,255);
	background-color: rgb(55,55,55);
	font-family: serif;}

main.home{
	position: absolute;
	width: 100%;
	height: calc(100% - 3rem);
	top: 3rem;
}

main{
	display: block;
}

.row{
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
}

.main-title-wrppere{
	position: :fixed;
}

.main-desc{
	position: absolute;
	right: 1.5rem;
}

.intro1{
	position: absolute;
	padding: 1.5rem 2.2rem 1.5rem 0;
	right: 550px;
	top: unset;
	font-size: 1.1rem;
	height: 100%;
	overflow-y: auto;}

.intro2{
	position: absolute;
	padding: 1.5rem 2.2rem 1.5rem 0;
	right: 70px;
	top: unset;
	font-size: 1.1rem;
	height: 100%;
	overflow-y: auto;}

div{
	display: block;}

h1{
	font-size: 18px;}

.text1{
	position: absolute;
	padding: 25.5rem 5.0rem 0rem 0;
	right: 70px;
	font-size: 1.1rem;
	overflow-y: auto;
	line-height: 1.6;
}


.images{

}
